[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sparky Tray
Comment[en_US]=Sparky Tray
Exec=/usr/bin/sparky-tray
Icon=system-software-install
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

